header {
  background-color: var(--color-dark-gray);
  padding: 10px 20px;
}

.logo img {
  height: 95px; 
  width: auto;
}

.logo a {
  display: flex;
  align-items: center;
}

.logout-button {
  background-color: var(--color-purple);
  color: var(--color-white);
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 0.9em;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 10px;
}

.logout-button:hover {
  background-color: var(--color-orange);
}


.logout-button i {
  margin-right: 8px;
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}


.search-container {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 0 20px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  color: var(--text-primary);
  margin-left: 15px;
  text-decoration: none;
}

.nav-links a:hover {
  color: var(--color-orange);
}

.search-container app-search-bar {
  width: 100%;
  max-width: 400px; 
}

.search-container app-search-bar input {
  background-color: var(--color-soft-black);
  border: 2px solid var(--color-purple);
  color: var(--color-white);
}

.search-container app-search-bar input::placeholder {
  color: var(--color-white);
}

.search-container app-search-bar input:focus {
  border-color: var(--color-orange);
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
  }

  .search-container {
    margin: 10px 0;
  }

  .nav-links {
    margin-top: 10px;
  }

  .logout-button {
    padding: 6px 12px;
    font-size: 0.8em;
  }
}