header {
  background-color: var(--color-dark-gray);
  padding: 10px 20px;
}

.logo img {
  height: 95px; 
  width: auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.logo a {
  display: flex;
  align-items: center;
}

.search-container {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 0 20px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  color: var(--text-primary);
  margin-left: 15px;
  text-decoration: none;
}

.nav-links a:hover {
  color: var(--color-orange);
}

.search-container app-search-bar {
  width: 100%;
  max-width: 400px; /* Correspondente ao max-width do search-bar */
}

.search-container app-search-bar input {
  background-color: var(--color-soft-black);
  border: 2px solid var(--color-purple);
  color: var(--color-white);
}

.search-container app-search-bar input::placeholder {
  color: var(--color-white);
}

.search-container app-search-bar input:focus {
  border-color: var(--color-orange);
}



@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
  }

  .search-container {
    margin: 10px 0;
  }

  .nav-links {
    margin-top: 10px;
  }
}