<div class="container">
    <div class="video-detail">
        <div class="video-player">
          <video [src]="video.url" controls></video>
        </div>
        <div class="video-info">
          <h2>{{ video.title }}</h2>
          <p class="details">
            {{ video.views }} visualizações •
            {{ video.uploadDate | date: 'dd/MM/yyyy' }}
          </p>
          <button (click)="addToFavorites()" [disabled]="isFavorite">
            {{ isFavorite ? 'Já nos Favoritos' : 'Adicionar aos Favoritos' }}
          </button>
          <p class="description">{{ video.description }}</p>
        </div>
      </div>
</div>