/* search-bar.component.css */

.search-bar input {
  width: 100%;
  padding: 8px;
  border: 2px solid var(--color-purple);
  border-radius: 4px;
  font-size: 1em;
  background-color: var(--color-soft-black);
  color: var(--color-white);
}

.search-bar input::placeholder {
  color: var(--color-white);
}

.search-bar input:focus {
  outline: none;
  border-color: var(--color-orange);
}
