.video-card {
  flex: 1 1 calc(30% - 40px); /* Três cards por linha menos margens */
  max-width: calc(30% - 40px);
  box-sizing: border-box;
  margin: 20px;
  text-decoration: none;
  color: var(--color-white);
  background: var(--gradient-primary);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s;
}

.video-card:hover {
  transform: scale(1.02);
}

.video-card img {
  width: 100%;
  height: auto;
}
  
  .video-info {
    padding: 15px;
  }
  
  .video-info h3 {
    margin: 10px 0;
    font-size: 1.2em;
    color: var(--color-white);
  }
  
  .video-info .description {
    color: var(--color-white);
    font-size: 0.9em;
    margin-bottom: 10px;
  }
  
  .video-info .details {
    color: var(--color-white);
    font-size: 0.8em;
  }

  @media (min-width: 992px) {
    .video-card {
      flex: 1 1 calc(30% - 40px);
      max-width: calc(30% - 40px);
    }
  }
  
  /* Dois cards por linha em telas médias */
  @media (max-width: 991px) and (min-width: 768px) {
    .video-card {
      flex: 1 1 calc(45% - 40px);
      max-width: calc(45% - 40px);
    }
  }
  
  /* Um card por linha em telas pequenas */
  @media (max-width: 767px) {
    .video-card {
      flex: 1 1 calc(100% - 40px);
      max-width: calc(100% - 40px);
    }
  }
  