:root {
    --primary-color: #1E3A8A;
    --secondary-color: #FFFFFF;
    --accent-color: #3B82F6;
    --text-primary: #FFFFFF;
    --text-secondary: #D1D5DB;
}
  
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--secondary-color);
    color: var(--text-primary);
}
  
  
*{
    box-sizing: border-box;
}
  
